---
import Navbar from '../components/Navbar.tsx'

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<style>
  .clamp {
    width: clamp(10%, 1000px, 92%);
    display: block;
  }
  html {
    overflow-y: scroll;
  }
  body {
    font-family: Inter, sans-serif;
  }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;700;800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/logo1.jpg" />
		<title>{content.title}</title>
	</head>
	<body class="bg-gray-800 text-white flex justify-center">
    <div class="clamp">
      <Navbar client:load />
      <slot/>
      <div class="text-center text-gray-200 my-5 text-sm">
        &copy; Juni Kim 2023-{(new Date()).getFullYear()}
      </div>
    </div>
	</body>
</html>