---
import MarkdownBody from '../components/MarkdownBody.astro'
import Base from './base.astro'

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Base {content}>
  <div class="flex flex-row flex-wrap sm:flex-nowrap my-0">
    <MarkdownBody>
      <slot />
    </MarkdownBody>
  </div>
</Base>