<div class="prose prose-invert my-3 m-2 prose-headings:text-pnk prose-p:m-2
          max-w-none prose-a:text-pnk prose-headings:m-2 prose-headings:font-extrabold
          prose-headings:my-4 prose-h1:text-gld prose-li:my-1
          prose-li:py-0 prose-table:table-auto prose-p:min-w-0">
  <slot />
</div>