---

const links = [
  {name: "Home", href: "/"},
  {name: "Broadcast", href: "/broadcast"},
  {name: "Reaper", href: "/reaper"},
  {name: "Managers", href: "/manager"},
]
---

<div class="flex flex-row justify-start md:justify-between w-full content-center p-4 text-base mb-5">
  <div class="font-mono text-pnk font-bold hidden md:block">
  <a href="/">
    PureMOOt.go
  </a>
  </div>
  <div>
    {
      links.map(
        (link) =>
          <span class={
            "m-2 group transition-all font-extrabold"
            + " " +
            (Astro.url.pathname === link.href ? "text-pink-400" : "")
          }>
            <a href={link.href} class="inline-block">
              {link.name}
              <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-pink-600"></span>
            </a>
          </span>
      )
    }

    <span class={
      "m-2 group transition-all font-extrabold"
    }>
      <a href="https://github.com/junikimm717/puremoot" class="inline-block" target="_blank">
        GitHub
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-pink-600"></span>
      </a>
    </span>
  </div>
</div>
