---

---

<div class="grid grid-cols-1 sm:grid-cols-8 gap-5 place-content-evenly">
  <div class="flex items-center sm:justify-center sm:col-span-1 w-20">
    <img src="/logo2.jpg" class="mx-2 rounded-full my-0 w-16" alt="puremoot logo"/>
  </div>
  <div class="sm:col-span-7">
    <slot/>
  </div>
</div>